* {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-light: #FFFFFF;
  --background-dark: #000000;
  --light-grey: #FBFBFB;
  --medium-grey: #9B9EAC;
  --dark-grey: #282D30;
  --red1: #E60000;
  --red2: #FF0000;
  --red3: #FF0101;
  --font-size-large: 3rem;
  --font-size-med: 1.5rem;
  --font-size-reg: 1.1rem;
  --font-size-small: 0.7rem;
  --font-weight-med: 500;
  --font-weight-reg: 400; 
  --border-radius: 5px; 
}

.main-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(11, 1fr);
  width: 100%;
  height: 100vh;
}

.navtop {
  display: grid;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  align-items: center;
  grid-template-areas: "logoName logoName home profile settings community";
  background-color: var(--background-dark);
}

.navtop__logoName {
  z-index: 1;
  display: flex;
  gap: 0.5rem;
}

/* ! PROVISOIRE ! */
.navtop__logo {
  padding-left: 1rem;
}

.navtop__home,
.navtop__profile,
.navtop__settings,
.navtop__community {
  color: var(--background-light);
  font-size: var(--font-size-med);
  font-weight: var(--font-weight-med);
}

.navtop__home {
  grid-area: home;
}

.navtop__profile {
  grid-area: profile;
}

.navtop__settings {
  grid-area: settings;
}

.navtop__community {
  grid-area: community;
}

.navleft {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  background-color: var(--background-dark);
  z-index: 0;
}

.navleft__yoga {
  grid-row: 5 / 5;
  grid-column: 1 / 2;
}

.navleft__swimmer {
  grid-row: 6 / 6;
  grid-column: 1 / 2;
}

.navleft__cyclist {
  grid-row: 7 / 7;
  grid-column: 1 / 2;
}

.navleft__dumbbell {
  grid-row: 8 / 8;
  grid-column: 1 / 2;
}

.navleft__p {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  grid-row: 9 / 10;
  grid-column: 1 / 2;
  color: var(--background-light);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-med);
  justify-self: center;
}

.header__mainTitle {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-med);
  grid-column: 3 / 7;
  grid-row: 4 / 4;
}

.header__firstName {
  color: var(--red3);
}

.header__subTitle {
  font-size: var(--font-size-reg);
  font-weight: var(--font-weight-reg);
  grid-column: 3 / 7;
  grid-row: 5 / 5;
}

.keyData {
  display: flex;
}


